/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #FF0000;
  color: white;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
}

.hero {
  text-align: center;
  margin-bottom: 50px;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.hero img {
  width: 500px;
}

.btn {
  background-color: #A80000;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border: none;
}

.btn:hover {
  background-color: #FF0000;
}

.sobre {
  text-align: center;
}

.form-container,
.pedido-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container input,
.form-container select,
.pedido-container select,
.pedido-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pedido-container img {
  max-width: 100%;

}

footer {
  background-color: #FF0000;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
width: 100%;
}

footer p {
  margin: 0;
}

/* Responsividade */
@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin: 10px 0;
  }

  .hero h1 {
    font-size: 2em;
  }

  .form-container {
    padding: 15px;
  }

  .hero img {
    width: 250px;
  }
}